<!DOCTYPE html>
<html>

<head>
    <% include components/header %>
</head>

<body>
    <% include components/navbar %>
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Simple Form example
                </h1>
                <form method="POST" action="/formpost">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="name">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" placeholder="Email input" value="sample@test.com" name="email">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                            <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                          </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea" name="message"></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text" type="reset">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
</body>

</html>