<!DOCTYPE html>
<html>
  <head>
    <% include components/header %>
  </head>
  <body>
    <% include components/navbar %>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Hello World !
        </h1>
        <p class="subtitle">
          My first application at <strong>FB Developer Circle</strong>!
        </p>
      </div>
    </section>
  </body>
</html>