<!DOCTYPE html>
<html>
  <head>
    <% include components/header %>
  </head>
  <body>
    <% include components/navbar %>
    <section class="section">
      <div class="container">
        <h1 class="title">
            <%= name %> | <%= email %>
        </h1>
        <p>
            <%= message %>
        </p>
      </div>
    </section>
  </body>
</html>